        hr {
            width: 600px;
            color:#003049;
      }

        a:link, a:visited {
        color:#003568;
      }

         body {
         padding-left: 300px;
         padding-right: 300px;
         background-color: #8b92a3;
         display: inline-block;
      }
         .photos {
         padding:20px;
         border: 2px solid #000000;
      }   
         p, h2 {
         padding-left:100px;
         padding-right:100px;
      } 
         @font-face {
         font-family: 'Franklin Gothic Std';
          src:  url('font/franklin.otf') format('otf');
      } 
          h1 {
          font-family: 'Franklin Gothic Std';
      }
        .contain {
        margin: auto;
        background-color: #CED1E2;
        border: 15px solid #777D9B;
     }
        .head {
        margin: auto;
        background-color: #9fa4bf;
        border: 15px solid #959bba;
     }
        .bandmember {
        display: flex;
        align: auto;
        padding: 5px;
        flex-direction: row; 
        flex-wrap: wrap;
        justify-content: center; 
     }
        table, th, td {
        border: 5px solid;
        background-color: C0C5DB;
     }
        .bandimg {
        background-color: C0C5DB;
     }
        .names { 
        font-weight: bold; 
     }
